fastapi==0.95.0
streamlit==1.19.0
torch==2.2.2
pytest==7.2.2
python-multipart==0.0.5
uvicorn==0.18.3
numpy==1.24.3
pandas==1.5.3
transformers==4.28.1
scikit-learn==1.2.1
python-dotenv==0.21.1
datasets==2.12.0
mlflow==2.8.1
accelerate==0.19.0
tensorboard==2.11.2
wandb==0.13.3
seaborn==0.11.2
ipykernel==6.12.2
